// COLORS
$color-primary: #ff0a42;

$color-primary-light: #ff2c5c;
$color-primary-light-1: #ff4e76;
$color-primary-light-2: #ff7091;

$color-primary-dark: #920021;
$color-primary-dark-1: #5f0016;
$color-primary-dark-2: #2c000a;

$color-secondary: #43ff0a;
$color-secondary-light: #84ff5f;
$color-secondary-dark: #26a300;

$color-tertiary: #fffb0a;
$color-tertiary-light: #f1ef50;

$color-suplementary: #006cd1;

$color-white: #fff;
$color-black: #000;

$color-gray-dark: #818181;

// BREAKPOINTS
$bp-largest: 75em; // 1200px / 16px = 75em
$bp-large: 62.5em; // 1000px / 16px = 62.5em
$bp-medium: 50em; // 800px / 16px = 50em
$bp-small: 37.5em; // 600px / 16px = 37.5em
$bp-xsmall: 28.125em; // 450px / 16px = 28.125em