body {
    display: flex;
    flex-direction: column;

    position: relative;
    max-width: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    box-sizing: inherit;
    width: 100%;
    padding: 3rem 2rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: flex-start;
}

.main-content {
    position: relative;
}

.background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh; 
    z-index: -1000;

    &__overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        // background-image: linear-gradient(to bottom right, rgba($color-primary-dark, 0.25), rgba($color-primary-dark, 0.15));
        background-color: $color-primary-dark;
        opacity: 1;
        transition: opacity 0.25s;
    }

    &__overlay--fadeOut {
        opacity: 0;
    }

    &__image {
        height: 100%;
        background-image: linear-gradient(to bottom right, rgba($color-primary-dark, 0.35), rgba($color-primary-dark, 0.25)), url(./img/img1.jpeg);
        background-position: top;
        background-size: cover;
        transition: all 0.2s;
    }
}