.card {
    background-color: $color-white;
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    position: relative;
    padding: 2rem;

    &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: -2px;
        right: -2px;
        bottom: -2px;
        background-image: linear-gradient(to bottom right, $color-tertiary, $color-secondary-dark);
        z-index: -1;
        transform: skew(3deg, 1deg);
    }

    &__shape {

        @supports (clip-path: circle(50% at 50% 50%)) or (-webkit-shape-outside: circle(50% at 50% 50%)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }
    }

    &__image {
        height: 20rem;
        width: 20rem;
        position: relative;

        transform: translateY(1rem) scale(1.2);
        backface-visibility: hidden;
        transition: all 0.5s;
      

    }

    &__text {

    }

    &:hover &__image {
        transform: translateY(1rem) scale(1.05);
        filter: blur(3px) brightness(90%);
    }
}